<h1>This is where the users will be for admins</h1>

<%= link_to "New Skill", new_skill_path, class: 'btn btn-primary' %>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Skill</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @skills.each do |skill| %>
			<tr>
				<td><%= skill.id %></td>
				<td><%= skill.name %></td>
				<td><%= link_to "Delete", skill, method: :delete, data: { confirm: "You sure?" } %></td>
			</tr>
		<% end %>
	</tbody>
</table>