<h1>This is where the users will be for admins</h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td>
					<%= user.id %>
				</td>
				<td>
					<%= user.name %>
				</td>
				<td>
					<%= user.email %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>