<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 event">

			<h1>New Event</h1>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12 event">

			<%= render 'form' %>

		</div>
	</div>
</div>
