<%= form_tag root_path, :method => 'get' do %> 
  <div class="col-md-2 filters">
    <div class="filter-group">
      <h3>Volunteer Skills</h3>
        <% Skill.all.each do |skill| %>
          <%= check_box_tag 'skill_id[]', 
                            skill.id, 
                            (params[:skill_id].include?(skill.id.to_s) if params[:skill_id]), 
                            id: "skill_#{skill.id}" %>
          <%= label_tag "skill_#{skill.id}", skill.name, class:"skill" %><br>
        <% end %>
    </div>

    <div><%= submit_tag "Sort", class: 'btn btn-primary btn-lg' %></div>
  </div>

<% end %>
