<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Upcoming Events for Teaching Kids to Code in NYC</h1>
        <h2>Connecting organizations, volunteers, parents and kids</h2>
      </div>
    </div>
  </div>
</div>
