    <div class="form-group row">
        <label for="skills" class="col-sm-2 control-label skill">Start Time</label>
        <div class="col-sm-5">
          <%= datetime_local_field(:occurrence, :start_time) %>
        </div>
    </div>

    <div class="form-group row">
        <label for="skills" class="col-sm-2 control-label skill">End Time</label>
        <div class="col-sm-5">
          <%= datetime_local_field(:occurrence, :end_time) %>
        </div>
    </div>