@black: black;
@dark-gray: #666666;
@light-gray: #DDD;
@dark-blue: #1F639D;

body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: @black;
  font-size: 30px;
}

h2 {
  color: @dark-gray;
  font-size: 22px;
}

.header {
  background: url('homepage-banner.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 260px;


}
