<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 tagline">
        <h1>Active organizations</h1>
        <h2>Discover all active nyc.io organizations</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- organizations info -->
    <div class="col-md-9 organizations">

      <% @organizations.each do |organization| %>
        <div class="row organization">
          <div class="col-md-3">
            <!-- TODO: Replace with img url from db -->
            <%= link_to image_tag(organization.image_url), organization_path(organization) %>
          </div>

          <div class="col-md-6">
            <h2><%= link_to organization.name, organization_path(organization) %></h2>
            <p><%= organization.description %>

          </div>
        </div>
      <% end %>

    </div>
    <div class='col-md-3'>
      <%= link_to "New Organization", new_organization_path, class: 'btn btn-primary' %>
    </div>

  </div>
</div>


